html, body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

#map, #nav {
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

#topbar {
  height: 40px;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  margin-top: 5px;
}

#burger {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAF+mlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDUgNzkuMTYzNDk5LCAyMDE4LzA4LzEzLTE2OjQwOjIyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOSAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDIwLTA1LTE5VDE1OjE3OjU5KzAyOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyMC0wNS0xOVQxNToxODoyOSswMjowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMC0wNS0xOVQxNToxODoyOSswMjowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJzUkdCIElFQzYxOTY2LTIuMSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDo3ZmNkNDcxZS1iZTE2LTcwNDgtYjBlZi1iNDYzOWRlOTNmYWYiIHhtcE1NOkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDphMjlkMmZiZi0zNTk3LTdlNGEtOGI3NS1iYzExN2ZlZmI5NGUiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo1ODVjYTc1Yi00ZjZiLTFlNDYtOGZhOS0wM2E5NzIwN2E5ODEiPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjU4NWNhNzViLTRmNmItMWU0Ni04ZmE5LTAzYTk3MjA3YTk4MSIgc3RFdnQ6d2hlbj0iMjAyMC0wNS0xOVQxNToxNzo1OSswMjowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo3ZmNkNDcxZS1iZTE2LTcwNDgtYjBlZi1iNDYzOWRlOTNmYWYiIHN0RXZ0OndoZW49IjIwMjAtMDUtMTlUMTU6MTg6MjkrMDI6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE5IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5ECkvDAAAAgElEQVQ4jcXTvQ3CQAyG4cfoCgqqLIBQVmFfFqDIDOlTsAA1BehoDoGUJpeLhKVPcuGf17IdOWcttmvKRuCCMx5YihPY45rQ41BUa30U51i61xAEbiuazitBh2clQcIdBl/810J94odN1tg8wiYETWscf5JrNSZMOFl3ylP8/RvfuzY47PcglPkAAAAASUVORK5CYII=');
}
#burger:hover {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAGymlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDUgNzkuMTYzNDk5LCAyMDE4LzA4LzEzLTE2OjQwOjIyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1sbnM6cGhvdG9zaG9wPSJodHRwOi8vbnMuYWRvYmUuY29tL3Bob3Rvc2hvcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RFdnQ9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZUV2ZW50IyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOSAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDIwLTA1LTE5VDE1OjA0OjQ2KzAyOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAyMC0wNS0xOVQxNToxNzo0OCswMjowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAyMC0wNS0xOVQxNToxNzo0OCswMjowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJzUkdCIElFQzYxOTY2LTIuMSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpmZGIxMTU3OC1jYmQ4LTg2NGMtYTdlNi00ODhiYjE4NDc1OTYiIHhtcE1NOkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDo2ZTU4MzMyNS0wODhlLTMzNDUtYmQwMy04OWU2MzZmYjQ5MjMiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo2MGI5NGY5MC1jNzRmLTA0NDktODc2MC1kNTJhODIyYmM3YmIiPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjYwYjk0ZjkwLWM3NGYtMDQ0OS04NzYwLWQ1MmE4MjJiYzdiYiIgc3RFdnQ6d2hlbj0iMjAyMC0wNS0xOVQxNTowNDo0NiswMjowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDo3NWM3YWE5MS03NWJlLTQ3NDEtYjg0Yy00ZDg4YTU2MDFjMzMiIHN0RXZ0OndoZW49IjIwMjAtMDUtMTlUMTU6MTc6NDgrMDI6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE5IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8cmRmOmxpIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6ZmRiMTE1NzgtY2JkOC04NjRjLWE3ZTYtNDg4YmIxODQ3NTk2IiBzdEV2dDp3aGVuPSIyMDIwLTA1LTE5VDE1OjE3OjQ4KzAyOjAwIiBzdEV2dDpzb2Z0d2FyZUFnZW50PSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOSAoV2luZG93cykiIHN0RXZ0OmNoYW5nZWQ9Ii8iLz4gPC9yZGY6U2VxPiA8L3htcE1NOkhpc3Rvcnk+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+I3BSiAAAAIxJREFUOI3F0yEOwlAMxvHfIxUIFBcgZBquAAK3w3IBBFwB9MQuMI0gPMyb3/YETWratP03X5tyzmpsVVWN1LbtFRe8MRUnYY1boMGm+FxrAkfsyvQ5BAl9lEC/YDoYG2zxmUkQGAJ3nEriO7HBqN6jWsbAWeUKMNQQUCnjE4eFAK9Ah71lp9ylv3/jD6nYIcQDpNCtAAAAAElFTkSuQmCC');
}

#app {
  width: 100%;
  height: 100%;
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#map {
  width: 100%;
  height: auto;
}

.ant-collapse {
  border: none !important;
}

#nav {
  width: 400px;
  height: auto;
  margin: 0;
  margin-top: 40px;
  z-index: 100;
}

.leaflet-grab, .leaflet-interactive {
  cursor: crosshair;
}

.my-leaflet-control {
  background-color: #fff;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.year-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.year-control label {
  padding-right: 5px;
}

.year-control input {
  vertical-align: middle;
}

.title {
  font-size: 20px;
  font-weight: normal;
}

.menuClosed {
  visibility: hidden;
  width: 0px !important;
}

.value-display {
  font-size: 16px;
}

.leaflet-control-messagebox {
	font-size: 1.5em;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 5px;
}

.github-picker {
  border: none !important;
  box-shadow: none !important;
  padding-left: 0px !important;
}

.title {
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 15px;
}

.ant-slider {
  margin: 3px 6px 3px !important;
}